.search-main {
  padding-top: 50px !important;
  margin-top: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
}
.search-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
  padding: 0px 22px 10px 22px;
}
